* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: os;
    src: url(../assest/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: pg;
    src: url(../assest/fonts/PathwayGothicOne-Regular.ttf);
}